@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300;400&display=swap');

$mainFont: 'Abril Fatface', cursive;
$secondFont: 'Inter', sans-serif;

$textSM: 2rem;
$textMD: 3rem;
$textLG: 4rem;