<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Areas de Práctica</title>
	<link rel="shortcut icon" href="../img/justicia.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="areas">
<header>
		<nav class="botonera">
			<div>
				<img class="navLogo" src="../img/justicia.png" alt="">
				<h1 class="nombreHeader">Lic. Elizabeth Ojinaga Ruiz</h1>
			</div>	
				<ul>
					<li>
						<a href="../index.html">Inicio</a>
					</li>
					<li>
						<a href="../views/quien_soy.html">Perfil</a>
					</li>
					<li>
						<a href="../views/oficinas.html">Oficinas</a>
					</li>
					<li>
						<a href="../views/areas_de_practica.html">Áreas</a>
					</li>
				</ul>
		</nav>
</header>

	<h2 class="gridTitulo">Áreas de Práctica</h2>
	<section class="galeria">
		
		<figure>
			<img class="imagenAreas" src="../img/numeros.jpg" alt="">
			<figcaption>Derecho Fiscal</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
		<figure>
			<img class="imagenAreas" src="../img/carcel.jpg" alt="">
			<figcaption>Derecho Penal</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
		<figure>
			<img class="imagenAreas" src="../img/campo.jpg" alt="">
			<figcaption>Derecho Ambiental</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
		<figure>
			<img class="imagenAreas" src="../img/contrato.jpg" alt="">
			<figcaption>Derecho Contractual</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
		<figure>
			<img class="imagenAreas" src="../img/intelectual.jpg" alt="">
			<figcaption>Derecho de la Propiedad Intelectual</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
		<figure>
			<img class="imagenAreas" src="../img/pasaporte.jpg" alt="">
			<figcaption>Derecho Migratorio</figcaption>
			<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Mollitia voluptatem soluta, at aperiam quisquam est fugit, ut ipsum, hic iure repudiandae debitis fugiat ex temporibus vel qui consequuntur magnam dolorum.</p>
		</figure>
	</section>	
<footer>
	<ul>
		<li>
			<a href="../views/contacto.html">Contacto</a>
		</li>
		<li>
			<a href="../views/aviso_de_privacidad.html">Aviso de Privacidad</a>
		</li>
	</ul>
</footer>
</body>
</html>