<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>¿Quien Soy?</title>
	<link rel="shortcut icon" href="../img/justicia.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header>
			<!-- Comienza Nav -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="container-fluid">
			    <a class="navbar-brand nombreLogo" href="../index.html">
			      <img class="navLogo" src="../img/justicia.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
			      Lic. Elizabeth Ojinaga Ruiz
			    </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarNav">
			      <ul class="navbar-nav ms-auto">
			        <li class="nav-item">
			          <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="../views/quien_soy.html">Perfil</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="../views/oficinas.html">Oficinas</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="../views/areas_de_practica.html">Áreas</a>
			        </li>
			        
			      </ul>
			    </div>
			  </div>
			</nav>
			<!-- Termina Nav -->
	</header>
	
	<!-- Inicia Contenido -->

	<h2 class="gridTitulo">¿Quién soy?</h2>
	
	<main>

		<div class="clearfix">
		  <img src="../img/abogada.jpg" class="img-fluid rounded col-md-6 float-md-end mb-3 ms-md-3 " alt="...">
			<div class="align-middle">  
			  <p>
			    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, officiis? Animi sit deleniti aperiam! Enim autem tenetur, consequatur consequuntur, optio fugiat ducimus ipsa ullam quod explicabo inventore doloribus, officiis distinctio.
			  </p>

			  <p>
			    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet natus quam explicabo odit nisi doloribus voluptatum necessitatibus at. Magni tenetur quibusdam autem officia, quis fugiat dolorum porro minima, quae illo.
			  </p>

			  <p>
			    Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quos ipsa ullam molestias maxime hic aperiam voluptates alias porro sed modi, voluptas recusandae, rem nihil nemo tempore, dolorem doloribus illo.
			  </p>

			  <p>
			    Lorem ipsum dolor sit amet consectetur adipisicing, elit. Qui esse repudiandae tempora laudantium dolorem provident laboriosam aut aspernatur aperiam ut commodi nemo, nobis assumenda, unde ea debitis quis consequuntur blanditiis.
			  </p>
			</div>
			<div class="col-sm my-5 d-flex justify-content-center">
 				<img class="" src="../img/universidad.png" alt="" width="100" height="80">
 				<div>
 					<h3 class="text-center mt-4 px-4 pb-1">Educacioón Superior</h3>
 					<p class="px-4">Universidad Tecnológico Cuicallia</p>
 				</div>
 			</div>
 			<div class="col-sm my-5 d-flex justify-content-center">
 				<img class="" src="../img/libro.png" alt="" width="100" height="80">
 				<div>
 					<h3 class="text-center mt-4 px-4 pb-1">Maestría</h3>
 					<p class="px-4">Universidad Autnónoma de México</p>
 				</div>
 			</div>
		</div>

		
	</main>

	<!-- Termina Contenido -->
	
	<!-- Inica Footer -->
	
		<footer class="navbar fixed-bottom navbar-expand navbar-light">
		  <div class="container-fluid">
		      <div class="navbar-nav ms-auto">
		        <a class="nav-link mx-5" href="../views/contacto.html">Contacto</a>
		        <a class="nav-link mx-5" href="../views/aviso_de_privacidad.html">Aviso de Privacidad</a>
		      </div>
		    </div>
		  </div>
		</footer>
	
	<!-- Termina Footer -->

<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>