<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>¿Quien Soy?</title>
	<link rel="shortcut icon" href="../img/justicia.png">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body id="soy">
<header>
		<nav class="botonera">
			<div>
				<img class="navLogo" src="../img/justicia.png" alt="">
				<h1 class="nombreHeader">Lic. Elizabeth Ojinaga Ruiz</h1>
			</div>	
				<ul>
					<li>
						<a href="../index.html">Inicio</a>
					</li>
					<li>
						<a href="../views/quien_soy.html">Perfil</a>
					</li>
					<li>
						<a href="../views/oficinas.html">Oficinas</a>
					</li>
					<li>
						<a href="../views/areas_de_practica.html">Áreas</a>
					</li>
				</ul>
		</nav>
</header>
	<h2 class="gridTitulo">¿Quién soy?</h2>
	<main>
		<img class="abogadaImagen" src="../img/abogada.jpg" alt="retratoAbogada">
		<div>
			<p class="bioGrid">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, fuga atque officia eius alias dolore soluta tenetur deleniti ipsam et tempore ea unde enim voluptate temporibus asperiores qui dignissimos? Vero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus labore, aliquid quibusdam, tempora eligendi nemo ex dicta quaerat amet? Amet, culpa. Veniam dolores aliquid ut cumque earum. Hic delectus, repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis hic maxime, deleniti, sed consequatur voluptates voluptatem assumenda nesciunt quaerat officiis voluptatibus officia quod suscipit, doloremque quasi nulla tenetur dicta numquam.</p>
		</div>	
	</main>
<footer>
	<ul>
		<li>
			<a href="../views/contacto.html">Contacto</a>
		</li>
		<li>
			<a href="../views/aviso_de_privacidad.html">Aviso de Privacidad</a>
		</li>
	</ul>
</footer>
</body>
</html>